#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

/* normal state */
#videoPlayer {
    vertical-align: middle;
    display:block;
    margin: 0 auto;

}
 



.table-nonfluid {
   width: auto;
   min-width: 300px;
}



#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  font-size: 16px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li .active {
   color: #fff;
   background: rgba(255,255,255,0.2);
   text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:focus {
  text-decoration: none;
  color:white;
}


.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 25px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

.inset {
  padding: 20px;
}


@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}


#loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:-1;
    overflow: auto;
}


.tree .tree-classic li {
    font-size:11px;
    line-height:20px;
    min-height:20px;
    font-family:Georgia;
    background-color: black;
    background-color:#666 !important;
}
.tree .tree-classic li a {
     line-height:18px;
     height:18px;
     background-color:#666 !important;
}


.hide {
    display: none;
}




