<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Media Center</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/main.css">



<script id="contentSourceTemplate" type="text/x-underscore-template">
   <!--
      <span 
        class="glyphicon glyphicon-chevron-right">
      </span> &nbsp 
      -->
   
         <a href="#" class="contentSourceTemplateEntry" data-toggle="collapse" data-target=".sourceTree_<%= id %>"><%= displayName %>
         </a>
   
         <div class="sourceTree_<%= id %> collapse"></div>
       
</script>



<script id="LeftMenuView" type="text/x-underscore-template">  
   <ul class="sidebar-nav">
       <li class="sidebar-brand"><a href="#">Media center</a></li>
       <li><a href="#" class="active libraryBtn">Library</a></li>
       <li><a href="#" class="peersBtn">Peers</a></li>
       <li><a href="#" class="playlistBtn">Playlist</a></li>
       <li><a href="#" class="historyBtn">History</a></li>
     </ul>
</script>

<script id="LibraryViewTemplate" type="text/x-underscore-template">  
   <div class="content-header">
       <h1>
         Library
          <button type="button" class="btn btn-sm btn-primary">Add content</button>
          
          
       <button type="button" class="btn btn-sm" id="btnPlay">Play</button>
       <button type="button" class="btn btn-sm" id="btnQueue">Queue</button>
     
       <img src="ext/themes/classic/throbber.gif" id="loading-indicator" style="display:none" />
   
       </h1>
     </div>
     <!-- Page content -->
      <div class="page-content inset">
         <div class="list-group">
           <div id="contentSources"></div>
         </div>
     </div> 
</script>

<script id="PlaylistViewTemplate" type="text/x-underscore-template">  
   <div class="content-header">
       <h1>
        Playlist
          <button type="button" class="btn btn-sm btn-primary">New</button>
     
       <img src="ext/themes/classic/throbber.gif" id="loading-indicator" style="display:none" />
   
       </h1>
     </div>

      <div class="page-content inset">
       <table class="table table-striped table-nonfluid" id="playlistTable">
         <thead>
           <tr>
             <th> 
              
            </th>
             <th />
             <th />

           </tr>
         </thead>
         <tbody>
           <!--  Peer rows will go here -->
         </tbody>
       </table>

   </div>
</script>

<script id="PlaylistRowTemplate" type="text/x-underscore-template">  
     <tr>
         <td><%= item_name %></td>
     </tr>
</script>

<script id="PeerRowTemplate" type="text/x-underscore-template">  
   <tr>
         <td><input type="checkbox" class="selectPeer"></td>
         <td><%= URL %> </td>
           <td>
                          <% if (ThisPeer) {  %>
                <span class="label label-info label">It&lsquo;s you</span>
           <% } %>
           </td>
     </tr>
</script>

<script id="PeersTemplate" type="text/x-underscore-template">  
   <div class="content-header">
     <h1>
    
       Peers
      
   
     <img src="ext/themes/classic/throbber.gif" id="loading-indicator" style="display:none" />
   
     </h1>
   </div>
   <!-- Page content -->
    <div class="page-content inset">
       <table class="table table-striped table-nonfluid" id="peerTable">
         <thead>
           <tr>
             <th> 
            </th>
             <th />
             <th />

           </tr>
         </thead>
         <tbody>
           <!--  Peer rows will go here -->
         </tbody>
       </table>

   </div> 
</script>
      

   </head>
   <body>


      <div id="wrapper">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <div id="left_menu_target"> </div>
         </div>
         <div id="page-content-wrapper">
            <div class="content-header">
               <h1>
                  <audio src='' id="audioPlayer" autoplay="false">  
                     Your browser doesn't appear to support the HTML5 <code>&lt;audio&gt;</code> element.  
                  </audio>


                  <button type="button" class="btn btn-default" id="playBtn">
                  <span class="glyphicon glyphicon-play"></span> Play
                  </button>
                  <button type="button" class="btn btn-default hide" id="pauseBtn">
                  <span class="glyphicon glyphicon-pause"></span> Pause
                  </button>
               
                    <button type="button" class="btn btn-default" id="bwdBtn">
                  <span class="glyphicon glyphicon-backward" >
                  </span> 
                  </button>
                  <button type="button" class="btn btn-default" id="fwdBtn">
                  <span class="glyphicon glyphicon-forward" >
                  </span>
                  </button>

                   <label> 
                    <h5 id="trackLabel"></h5>
                   </label>

               </h1>

            </div>
            <div id="Content">
               <div id="MainPanelView">
               </div>
            </div>
                  <video src='' id="videoPlayer" autoplay="false" class="hidden" controls>  
                     Your browser doesn't appear to support the HTML5 <code>&lt;video&gt;</code> element.  
                  </video>
         </div>
         </nav>
      </div>
      <script src="ext/jquery_prod.js"></script>
      <script src="ext/boostrap_prod.js"></script>
      <script src="ext/underscore_prod.js"></script>
      <script src="ext/backbone_prod.js"></script>
      <script src="ext/jquery.jstree.js"></script>
      <script src="ext/jquery.block_ui.js"></script>
      <script src="/socket.io/socket.io.js"></script>


      <script src="js/models.js"></script>
      <script src="js/views.js"></script>
      <script src="js/client_app.js"></script>
   </body>
</html>